body,a,div,span{
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}

a{
	color: #91a8ba;
	font-size: 14px;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

.page-header{
	padding: 2%;
}

.head-links{
	overflow: auto;
	margin-right: 10%;
	margin-top: 2%;
	min-height: 35px;

}
#baseLink{
	font-size: 16px;
	margin-left: 8%;
}

.head-links > a{
	margin-left:40px;
	float: right;	
}

.page-body{
	position: relative;
}

.colorGreen{
	color:green;
}

#page-footer{
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 0px;
	right: 0px;
	font-size: 12px;
}