body,a,div,span{
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}

a{
	color: #91a8ba;
	font-size: 14px;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

.page-header{
	padding: 2%;
}

.head-links{
	text-align: right;
	margin-right: 10%;
	margin-top: 2%;
}

.page-body{
	position: relative;
}

.colorGreen{
	color:green;
}
