#conceptCont{width:75%;margin:auto;margin-top:2%; }
.heading h1{font-weight: normal;margin: 0px;color: #333a4b;font-size: 24px;}
#detCont{margin-top: 2%;}
#detCont ul,#detCont li{list-style-type: circle;margin-bottom: 1%}